<footer class="footer">

	<div class="container">
		<div class="row">

			<div class="col-xs-12 col-sm-3">
				<div class="footer-listTitle"><i class="i-puce"></i> Healthcare professionals</div>
				<ul class="footer-list">
					<li>Prescribing informations</li>
					<li>Products</li>
					<li>Cost savings calculator</li>
				</ul>
			</div>

			<div class="col-xs-12 col-sm-3">
				<div class="footer-listTitle"><i class="i-puce"></i> Patients & members of the public</div>
				<ul class="footer-list">
					<li>Therapeutic Areas</li>
					<li>Frequently Asked Questions</li>
				</ul>
			</div>

			<div class="col-xs-12 col-sm-3">
				<div class="footer-listTitle"><i class="i-puce"></i> Products</div>
				<div class="row">
					<ul class="col-xs-12 col-sm-3 footer-list">
						<li>Fencino</li>
						<li>Venlalic</li>
						<li>Fencino</li>
						<li>Venlalic</li>
					</ul>
					<ul class="col-xs-12 col-sm-3 footer-list">
						<li>Fencino</li>
						<li>Venlalic</li>
						<li>Fencino</li>
						<li>Venlalic</li>
					</ul>
					<ul class="col-xs-12 col-sm-3 footer-list">
						<li>Fencino</li>
						<li>Venlalic</li>
						<li>Fencino</li>
						<li>Venlalic</li>
					</ul>
					<ul class="col-xs-12 col-sm-3 footer-list">
						<li>Fencino</li>
						<li>Venlalic</li>
						<li>Fencino</li>
					</ul>
				</div>
			</div>

			<div class="col-xs-12 col-sm-3">
				<div class="footer-listTitle"><i class="i-puce"></i> Contact</div>
			</div>

		</div>
	</div>
</footer>



<div class="terms">
	<div class="container-fluid">
		<div class="row">

			<div class="col-xs-12">
				<ul class="termsList">
					<li><a href="#">Terms and conditions Privacy</a></li>
					<li><a href="#">Copyright - DBAshbourne - 2016</a></li>
				</ul>
			</div>

		</div>
	</div>
</div>