<div class="row">

	<div class="col-xs-12">
	<header>

		<!-- TOPBAR -->
		<div class="row">
			<!-- <div class="col-xs-12"> -->
				<div class="topbar"></div>
			<!-- </div> -->
		</div>

		<!-- LOGO + Contact link -->
		<div class="row">
			<div class="logobar">
				<div class="nav-icon js-nav hidden-lg hidden-md"><i class="i-nav-icon"></i><i class="i-close hidden"></i></div>
				<div class="logobar-logo"></div>
				<div class="logobar-rightLink hidden-xs hidden-sm hidden-md"><a href="#">Contact</a></div>
			</div>
		</div>

		<!-- DOUBLE NAV -->
		<div class="row">
			<div class="navbar-wrapper">
				<nav class="navbar">
					<ul class="nav-left">
						<li class="nav-mobiletitle">Professionals</li>
						<li><a href="#">Prescribing information</a></li>
						<li><a href="#">Products</a></li>
						<li><a href="#">Cost savings calculator</a></li>
					</ul><!--
				--><ul class="nav-right">
						<li class="nav-mobiletitle">Patients</li>
						<li><a href="#">Products</a></li>
						<li><a href="#">Frequently asked questions</a></li>
					</ul>
				</nav>
			</div>
		</div>	

	</header>
	</div>

</div>