<header>

	<!-- TOPBAR -->
	<div class="row">
		<div class="col-xs-12 topbar"></div>
	</div>

	<!-- LOGO + Contact link -->
	<div class="logobar">
		<img src="img/logo.png" alt="#">
		<div class="nav-icon js-nav"><i class="i-nav-icon"></i><i class="i-close hidden"></i></div>
		<div class="logobar-rightLink hidden-xs hidden-sm hidden-md"><a href="#">Contact</a></div>
	</div>

	<!-- DOUBLE NAV -->
	<div class="row">
		<nav class="navbar">
			<ul class="nav-left">
				<li class="nav-mobiletitle">Professionals</li>
				<li><a href="#">Prescribing information</a></li>
				<li><a href="#">Products</a></li>
				<li><a href="#">Cost savings calculator</a></li>
			</ul><!--
		--><ul class="nav-right">
				<li class="nav-mobiletitle">Patients</li>
				<li><a href="#">Products</a></li>
				<li><a href="#">Frequently asked questions</a></li>
			</ul>
		</nav>
	</div>	

</header>