.btn {
	border: 3px solid #fff;
	padding: 11px 25px;

	color: #fff;
	//line-height: 42px;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		background: #fff;

		color: #000;
		text-decoration: none;
	}

	&-large {
		padding: 11px 60px;
	}

}