//
// GLOBAL LESS FILE
// for editing large properties on all ethypharm UK Website

body {
	font-family: @fontlight;
}

// 
// TITLE
h1 {
	//padding: 0 0 40px 0;
	color: @orange;
	font-family: @fontbold;
	font-size: 36px;
	text-transform: uppercase;

	&:after {
		background-color: @orange;
		content: "";
		display: block;
		height: 3px;
		margin: 40px 0 60px 0;
		width: 160px;
	}
}

// 
// SECTION
.section {
	background-color: #fff;
	padding: 60px 0;

	&--blue {
		background-color: @blue;
	}

	&--gray {
		background-color: @graylight;
	}

	&--orange {
		background-color: @orange;
	}

	&--purple {
		background-color: @purple;
	}

}