.navbar {
	margin: 0 auto;
    overflow: hidden;

	color: #fff;
	text-align: center;
	text-transform: uppercase;

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		padding: 0 16px;

		font-family: @fontlight;
		font-weight: 100;
		font-size: 15px;
		line-height: 60px;
	}

	a {
		display: block;

		text-decoration: none;
	
		&:hover {
			color: #fff;
		}
	}

	.nav-left {
		background-color: @blue;
		display: inline-block;
		padding-right: 30px;
		position: relative;
		//width: 45%;

		&:after {
			content: "";
			display: block;
			background-color: @blue;
			height: 60px;
			position: absolute;
			left: -1195px;
			top: 0;
			width: 1920px;
			z-index: -1;
		}
	}

	.nav-right {
		background-color: @orange;
		display: inline-block;
		padding-left: 40px;
		position: relative;
		//width: 35%;

		&:before {
			content: "";
			display: block;
			height: 60px;
			position: absolute;
			left: -26px;
			top: 0;
			width: 40px;

			background-color: blue;

			border-left: 20px solid @blue;
    		border-bottom: 71px solid @orange;
		}

		&:after {
			content: "";
			display: block;
			background-color: @orange;
			height: 60px;
			position: absolute;
			left: 0;
			top: 0;
			width: 1920px;
			z-index: -1;
		}
	}

}