.topbanner {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	overflow: hidden;
	width: 100%;

	@media all and (max-width: @screen-sm) {
		height: 320px;
	}

	&-title {
		padding: 148px 0;
		width: 100%;

		color: #fff;
		font-family: @fontbold;
		font-size: 72px;
		text-align: center;
		text-transform: uppercase;

		@media all and (max-width: @screen-sm) {
			padding: 88px 0;

			font-size: 38px;
		}
	}
}

.topbanner-home {
	height: 590px;
	position: relative;

	.topbanner-home-block {
		width: 50%;
		height: 100%;

		color: #fff;
		text-align: center;
	}

	.topbanner-home-left {
		background: url(img/home-left.jpg) no-repeat;
		background-size: cover;
		display: inline-block;
	}

	.topbanner-home-right {
		background: url(img/home-right.jpg) no-repeat;
		background-size: cover;
		display: inline-block;
	}

	.topbanner-home-block-title {
		padding: 200px 0 45px 0;
		font-family: @fontbold;
		font-size: 38px;
		line-height: 46px;
		text-transform: uppercase;
	}
}