.topbanner {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	overflow: hidden;
	width: 100%;

	&-title {
		padding: 148px 0;
		width: 100%;

		color: #fff;
		font-family: @fontbold;
		font-size: 72px;
		text-align: center;
		text-transform: uppercase;
	}
}